html{
    font-family: sans-serif;
}

.catagorySection{
    width:70vw;
    position: sticky;
    h3{
        padding-top:20px;
        text-align: center;
        margin-bottom:0;
    }
}

.catMain{
    margin-top:20px;
    display:flex;
    justify-content: space-evenly;
    position: sticky;
    top:20px;
    background-color: whitesmoke;
}

.imageArea{
    display:flex;
    flex-wrap: wrap;
    margin-left:2%;
}

.draggableImg { 
    width: 200px; 
    height: 200px; 
    padding: 0.5em; 
    margin: 10px 10px 10px 0; 
    border:solid black 1px;
    overflow: hidden;
    border-radius: 5px;
    //box-shadow: 3px 3px 16px -2px rgba(0,0,0,0.8);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    .draggableImgImg{
        width: auto;
        height: 95%;
        object-fit: cover;
        max-width: 95%;
        max-height: 95%;
        display: block;
        margin: 0 auto;
        border-radius: 5px;
    }
}


.droppable{ 
    width: 150px; 
    height: 100px; 
    padding: 0.4em; 
    float: left; 
    margin: 10px;
    border: black solid 2px;
    font-size: 1.3rem;
    border-radius: 5px;
    p{
        padding-top:22px;
        text-shadow:
        -1px -1px 0 #000,  
         1px -1px 0 #000,
         -1px 1px 0 #000,
          1px 1px 0 #000;
    }
}

.chrono-box {
    background-color: #000dff;
    color:white;
    text-align: center;
}
.family-box{
    background-color: #d0d700;
    color:white;
    text-align: center;
}

.extended-box{
    background-color: #089f00;
    color:white;
    text-align: center;
}

.friends-box{
    background-color: #b50926;
    color:white;
    text-align: center;
}

.fun-box{
    background-color: #e304b7;
    color:white;
    text-align: center;
}

.unsorted-box{
    background-color: white;
    color:black;
    text-align: center;
    p{
        text-shadow: none;
    }
    
}
.picFrame{
    background-image: url('../tempImages/fam\ \(3\).jpg');
}


.chronoBorder {
    border: #000dff solid 7px;
}
.familyBorder {
    border: #d0d700 solid 7px;
}
.extBorder {
    border: #089f00 solid 7px;
}
.friendsBorder {
    border: #b50926 solid 7px;
}
.funBorder {
    border: #e304b7 solid 7px;
}
.unsortedBorder{
    border: black solid 7px;
}

