.UploadPage{
    //display:flex;
}


.Box-draggable{
width:50vw;
margin-left:50px;
}
.sortableOuter{
    margin-left:2rem;
    margin-top:2rem;
    cursor: pointer;
}
// .sortablePic{
//     height: 100px;
//     width:100px;
//     img{
//         width:100%;
//     }
//}
.sortablePic{
    width: 200px; 
    height: 200px; 
    padding: 0.5em; 
    margin: 10px 10px 10px 0; 
    border:solid black 3px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 3px 3px 16px -2px rgba(0,0,0,0.8);
    img{
        width: auto;
        height: 95%;
        max-width: 95%;
        max-height: 95%;
        display: block;
        margin: 0 auto;
        border-radius: 10px;
    }
}

.miniOrderContainer{
    position:fixed;
    top:200px;
    left:630px;
    margin-left:20px;
    margin-top:20px;
    width:40vw;
    border: solid black;
    border-radius: 10px;
    box-shadow: 6px 6px 16px -2px rgba(0,0,0,0.15);
    padding:20px;
    .miniPics{
    display:flex;
    flex-wrap: wrap;
        img{
            width:25%;
            height:25%;
            margin:2px;
        }
    }
}