
.sidebar{
    background-color: #595959;
    width: 350px;
    height: 100vh;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    color:white;
    position: sticky;
    top: 0px;
    @media(max-width:425px){
        width:100px;
    }
}

.sidebar-heading{
    margin-top:60px;
    margin-bottom: 30px;
    @media(max-width:425px){
        font-size:0.8rem;
        margin-top:10px;
        padding-left:10px;
    }
}

.sidebar1Text{
    margin:0 auto;
    max-width:85%;
    font-size: 1.3rem;
    text-align: left;
    padding-left:5px;
    p{
        padding-left:20px;
        @media(max-width:425px){
            padding-left:0px;
        }
    }
    @media(max-width:425px){
        font-size:0.8rem;
        padding-left:15px;
    }

        ol{
        @media(max-width:425px){
            padding-left:5px;
        }
    }
}

.sidebar2Heading{
    margin-top:60px;
    @media(max-width:425px){
        font-size:0.9rem;
        margin-top:10px;
    }
}

.sidebar2Text{
    font-size: 1.3rem;
    margin-bottom:25px;
    width:70%;
    margin:0 auto;
    margin-bottom:20x;
    @media(max-width:425px){
        font-size:0.8rem;
    }
}

.sidebar2Text-numberOf{
    margin-bottom:30px;
}

.total3{
    font-size: 1.2rem;
    width:95%;
    padding-left: 47px;
    @media(max-width:425px){
        font-size:0.8rem;
        width:95%;
        padding-left:4px;
    }
}

.checkContainer{
    display:flex;
    //justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    padding-right:50px;
    .checkContainer__count{
        margin:0;
        margin-left:76px;
        @media(max-width:425px){
            margin-left:45px;
        }
    }
    .checkContainer__heading{
        margin:0;
        margin-left:30px;
        @media(max-width:425px){
            display:none;
        }
    }
}

.family{
    display: inline-block;
    font-size: 1.3rem;
}
.family input{
    position: relative;
    left: 75px;
}

.extended{
    display: inline-block;
    font-size: 1.3rem;
}
.extended input{
    position: relative;
    left: 60px;
}

.friends{
    display: inline-block;
    font-size: 1.3rem;
}
.friends input{
    position: relative;
    left: 70px;
}
.fun{
    display: inline-block;
    font-size: 1.3rem;
}
.fun input{
    position: relative;
    left: 80px;
}

.unsorted{
    display: inline-block;
    font-size: 1.3rem;
}
.unsorted input{
    position: relative;
    left: 55px;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
}

.next-button{
    margin-top:10px;
    margin-left: 25px;
    color:#fff;
    font-size: 1.3rem;
    background-color:#007bff;
    border:none;
    border-radius: 5px;
    height: 3rem;
    width:6rem;
    box-shadow: 6px 6px 16px -2px rgba(0,0,0,0.15);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &:hover{
        box-shadow: 0 5px 15px rgba(79, 96, 192, 0.6)
    } 
    @media(max-width:425px){
        font-size:1rem;
        height: 2rem;
        width:4rem;
        margin-left:0;
    }
}
.back-button{
    margin-top:10px;
    color:#fff;
    font-size: 1.3rem;
    background-color:#007bff;
    border:none;
    border-radius: 5px;
    height: 3rem;
    width:6rem;
    box-shadow: 6px 6px 16px -2px rgba(0,0,0,0.15);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &:hover{
        box-shadow: 0 5px 15px rgba(79, 96, 192, 0.6)
    } 
    @media(max-width:425px){
        font-size:1rem;
        height: 2rem;
        width:4rem;
    }
}

.catSelector{
    width: 90%;
    margin:0 auto;
    hr{
        margin-top:0;
    }
}

.radioLabel{
    margin-right:20px;
    width:100%;
    @media(max-width:425px){
        width:95%;
        font-size:0.8rem;
        margin-left:8px;
        }
}
input[type=radio] {
    border: 0px;
    width: 100%;
    height: 1.5rem;
}

.orderInstructions{
    width:95%;
    margin:0 auto;
    h3{
        @media(max-width:425px){
        font-size:1.3rem;
        }
    }
    p{
    @media(max-width:425px){
        font-size:0.8rem;
        width:90%;
        padding-left:17px;
        }
    }

}

.sidebar5{
    h3{
        font-size:1rem;
    }
}

.complete__Instructions{
    margin:0 auto;
    max-width:80%;
    font-size: 1rem;
    text-align: left;
    @media(max-width:425px){
            display:none;
        }
}

.complete__count{
    margin-top:30px;
}



.blue-text{
    color: #000dff;
}
.yellow-text{
    color: yellow;
}
.green-text{
    color: #089f00;
}
.red-text{
    color: #b50926;
}
.pink-text{
    color: #e304b7;
}
.white-text{
    color: white;
}
.black-text{
    color:black;
}

.footer{
    position:fixed;
    bottom:18px;
    left:51px;
    p{
        margin: 2px 0;
        color:white;
    }
}