.signInDiv{
    width: 76vw;
    position: relative;
    background-image: url('seaside.jpg');
    background-size: cover;
    background-position: center;
    h2{
        position: absolute;
        top: 70px;
        width:100%;
        text-align: center;
        font-size: 3rem;
        @media (max-width:1024px){
            font-size: 2rem;
        }
        @media (max-width:768px){
            top:40px;
        }
        @media (max-width:425px){
            top:20px;
        }
    }
}

.heroImage{
    width:130%;
    right:10px;
    //padding:18px;
}
.name-form{
    position: relative;
    width:100%;
    .name-form-div{
        position: absolute;
        top: 140px;
        margin-left:20vw;
        @media (max-width:425px){
            margin-left:20px;
        }
        @media (max-width:768px){
            margin-left:80px;
        }
        @media (max-width:1024px){
            //margin-left:210px;
        }
        label{
            color:black;
        }
        input{
            height: 75px;
            width: 30vw;
            font-size: 2rem;
            padding-top:16px;
            @media (max-width:768px){
                width:90%;
            }
            @media (max-width:425px){
                width:95%;
            }
        }
        .next-button{
            margin-top:10px;
            color:#fff;
            background-color:#007bff;
            border:none;
            border-radius: 5px;
            height: 3rem;
            width:6rem;
            margin-left:0;
            
        }
    }

}

.signin-button{
    box-shadow: none;
}



