.signInDiv{
    width: 76vw;
    position: relative;
    background-image: url('seaside.jpg');
    background-size: cover;
    background-position: center;
    h2{
        position: absolute;
        top: 70px;
        width:100%;
        text-align: center;
        font-size: 3rem;
    }
}

.heroImage{
    width:130%;
    right:10px;
    //padding:18px;
}
.name-form{
    position: relative;
    .name-form-div{
        position: absolute;
        top: 140px;
        left: 260px;
        label{
            color:black;
        }
        input{
            height: 75px;
            width: 500px;
            font-size: 2rem;
            padding-top:16px;
        }
        .next-button{
            margin-top:10px;
            color:#fff;
            background-color:#007bff;
            border:none;
            border-radius: 5px;
            height: 3rem;
            width:6rem;
            margin-left:0;
            
        }
    }

}

.signin-button{
    box-shadow: none;
}



