.topbar{
    background-color: #595959;
    height: 125px;
    -webkit-box-shadow: 6px 6px 16px -2px rgba(0,0,0,0.15);
    -moz-box-shadow: 6px 6px 16px -2px rgba(0,0,0,0.15);
    box-shadow: 6px 6px 16px -2px rgba(0,0,0,0.15);
}

.progress-circles{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top: 22px;
}

.green-circle{
  height: 80px;
  width: 80px;
  cursor: pointer;
  color:white;
  background-color: #4285f4;
  border-radius: 50%;
    border: solid black 1px;
    display: inline-block;
    vertical-align: middle;
    box-shadow: 0 3px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

}

.progress-line{
    height: 5px;
    width: 4vw;
    background-color: white;
    display: inline-block;
    vertical-align: middle;    
    -webkit-box-shadow: 3px 3px 16px -2px rgba(0,0,0,0.4);
    -moz-box-shadow: 3px 3px 16px -2px rgba(0,0,0,0.4);
    box-shadow: 3px 3px 16px -2px rgba(0,0,0,0.8);
}

.white-circle{
    height: 80px;
    width: 80px;
    cursor: pointer;
    background-color: whitesmoke;
    border-radius: 50%;
    border: solid black 1px;
    display: inline-block;
    vertical-align: middle; 
    box-shadow: 0 3px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.circle-text-signIn{
    font-size:.9rem;
    position: relative;
    top: 28px;
    left: 17px;
}
.circle-text-upload{
    font-size:.9rem;
    position: relative;
    top: 28px;
    left: 15px;
}
.circle-text-cat{
    font-size:.9rem;
    position: relative;
    top: 28px;
    left: 4px;
}
.circle-text-order{
    font-size:.9rem;
    position: relative;
    top: 28px;
    left: 21px;
}
.circle-text-complete{
    font-size:.9rem;
    position: relative;
    top: 28px;
    left: 7px;
}

.welcomeName{
    padding-left:3rem;
}

.topbarName{
    color:white;
    @media (min-width:1024px){
        margin-left:10vw;
    }
    @media (min-width:768px){
        margin-left:6vw;
    }
}