.topbar{
    background-color: whitesmoke;
    height: 175px;
}

.progress-circles{
    padding-top: 35px;
}

.green-circle{
  height: 100px;
  width: 100px;
  cursor: pointer;
  background-color: #1cc500;
  border-radius: 50%;
    border: solid black 1px;
    display: inline-block;
    vertical-align: middle;
}

.progress-line{
    height: 5px;
    width: 100px;
    background-color: white;
    display: inline-block;
    vertical-align: middle;
}

.white-circle{
    height: 100px;
    width: 100px;
    cursor: pointer;
    background-color: white;
    border-radius: 50%;
    border: solid black 1px;
    display: inline-block;
    vertical-align: middle; 
}

.circle-text-signIn{
    position: relative;
    top: 35px;
    left: 24px;
}
.circle-text-upload{
    position: relative;
    top: 35px;
    left: 22px;
}
.circle-text-cat{
    position: relative;
    top: 35px;
    left: 9px;
}
.circle-text-order{
    position: relative;
    top: 35px;
    left: 29px;
}
.circle-text-complete{
    position: relative;
    top: 35px;
    left: 15px;
}